body{
    background: rgb(255, 251, 252);
}

.mytext{
    color: cadetblue;
}

a{
    text-decoration: none;
    color: rgb(0, 26, 255);
}

a:hover{
    color: rgb(92, 108, 251);
}

.pic1{
    width: 25%;  /* width -  ширина в данном случае картинки  */
    margin: 2%;  /* margin - внешний отступ */
    border-radius: 10px; /* border-radius - скругление углов */
}
article {
    width: 700px;
    margin: 100px auto;

}

h1{
    color: rgb(0, 8, 79);
    font-size: 38px;
    margin-top: 66px;
    line-height: 45px;
    background-color: rgb(211, 212, 214);
}
 p{
    margin-top: 8px;
    color: rgb(85, 85, 85);
    font-size: 22px;
    line-height: 32px;
}
h2 {
    margin-top: 50px;
    font-size: 32px ;
    line-height: 36px;
}
h2 + blockquote, h2 + p {
    margin-top: 8px;
}
blockquote{
    font-style: italic;
    font-size: 22px;
    margin-left: 100px;
    margin-top: 20px;
}